body{
    font-family: 'Segoe UI', sans-serif;
    background:#f4f6f9;
    margin:40px;
}

h1{
    color:#2c3e50;
}

section{
    background:white;
    padding:20px;
    margin-bottom:30px;
    border-radius:10px;
    box-shadow:0 2px 8px rgba(0,0,0,0.05);
}

select, button{
    padding:8px;
    margin:5px 0;
}

button{
    background:#4a6cf7;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

img{
    width:100%;
    margin-top:10px;
}
.chart-container {
    width: 70%;
    max-width: 700px;
    height: 350px;
    margin: 20px auto;
}
.insight-card {
    width: 400px;
    margin: 20px auto;
    padding: 15px;
    background: #eef2ff;
    border-left: 5px solid #4f46e5;
    border-radius: 8px;
    font-size: 14px;
}
